<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spring MVC and Velocity</title>
        <link href="http://www.jd.com/favicon.ico" rel="shortcut icon">
        <script type="text/javascript" src="/resources/js/common.js"></script>
    </head>
    <body>

        <h1>Spring MVC and Velocity 宋枝茂</h1>

        $screen_content

        <hr />
        Copyright &copy 2014 lm
    </body>
</html>